# Homework 4: Advanced data structures and logical indexing
ENVR 890-001: Python for Environmental Research, Fall 2020

By Andrew Hamilton. 

### Instructions
This homework will review the material from Lecture 4 (of the same name). 

**DUE October 2 before class**

### 1)
What are some of the benefits of NumPy arrays for scientists and engineers? What contexts might you use it? What about for Pandas DataFrames?

### 2)
Consider the logistic function for excess cardiovascular deaths per 1,000 people based on the daily PM10 concentration, which we used in the in-class exercise for NumPy arrays (*again, this is completely made up, not a real relationship*) . 

$$deaths = \frac{15}{1 + \exp(-(PM10 - 80) / 35)}$$

In [1]:
import numpy as np
def excess_deaths_pm10(pm10):
    return 15 / (1 + np.exp(-(pm10 - 80) / 35))

Use list comprehension to create and print the following lists, each in their own code cell:

1. "l1": All multiples of 3 from 0 to 150 (i.e., [0, 3, 6, ..., 147, 150]). Note: you could also do this with list(range()), but try to do it by combining list comprehension with range().
1. "l2": The excess deaths for each pm10 in l1.
1. "l3": Only the excess deaths that are larger than 10.

### 3)
Create and print the following objects, each in their own code cell:
1. "n1": A NumPy array with the elements of l1
1. "n2": A one-dimensional NumPy array with six zeros.
1. "n3": A three-dimensional NumPy array with all twos and dimensions 2x15x4. 
1. "l2": A list containing the number of dimensions (an integer) and the shape (a tuple) of n3 
1. "n4": A one-dimensional NumPy array with 100 values that are randomly drawn from a [Gumbel distribution](https://numpy.org/doc/stable/reference/random/generated/numpy.random.gumbel.html) with a location parameter ("loc") of 10 and a "scale" parameter of 2.
1. "n5": Each element in n5 is the [base-10 logarithm](https://numpy.org/doc/stable/reference/generated/numpy.log10.html) of the corresponding element of n4.
1. "l3": A list containing the min, max, mean, 95th percentile, and standard deviation of n5.
1. "df1": A Pandas DataFrame with two columns: a column called "gumbel" with the elements of n4, and a column called "gumbel_log10" with the elements of n5.

### 4)
Consider this national [CO2 emissions dataset from Our World in Data](https://github.com/owid/co2-data).

In [2]:
import pandas as pd

# read in data. "header=1" tells it to ignore the first line and use the second line as the column names.
df = pd.read_csv('owid-co2-data.csv', header=1)
df

,iso_code,country,year,co2,co2_growth_prct,co2_growth_abs,consumption_co2,trade_co2,trade_co2_share,co2_per_capita,...,ghg_per_capita,methane,methane_per_capita,nitrous_oxide,nitrous_oxide_per_capita,primary_energy_consumption,energy_per_capita,energy_per_gdp,population,gdp
0,AFG,Afghanistan,1949,0.015,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7663783.0,NaN
1,AFG,Afghanistan,1950,0.084,475.000,0.070,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7752000.0,1.949480e+10
2,AFG,Afghanistan,1951,0.092,8.696,0.007,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7840000.0,2.006385e+10
3,AFG,Afghanistan,1952,0.092,0.000,0.000,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7936000.0,2.074235e+10
4,AFG,Afghanistan,1953,0.106,16.000,0.015,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8040000.0,2.201546e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24011,ZWE,Zimbabwe,2014,11.962,2.838,0.330,12.760,0.798,0.001,0.0,...,4.865,11.24,0.827,6.27,0.461,NaN,NaN,NaN,13587000.0,2.474828e+10
24012,ZWE,Zimbabwe,2015,12.163,1.685,0.202,13.010,0.847,0.001,0.0,...,4.885,11.87,0.859,6.68,0.484,NaN,NaN,NaN,13815000.0,2.503057e+10
24013,ZWE,Zimbabwe,2016,10.807,-11.146,-1.356,11.809,1.001,0.001,0.0,...,4.703,11.92,0.850,6.55,0.467,NaN,NaN,NaN,14030000.0,2.515176e+10
24014,ZWE,Zimbabwe,2017,12.026,11.274,1.218,12.531,0.505,0.000,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14237000.0,NaN
24015,ZWE,Zimbabwe,2018,12.263,1.969,0.237,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14439000.0,NaN

Use this DataFrame to do the following. Put each in its own cell and print it.

1. Use logical indexing (hint: "loc") to create a new DataFrame called "df_US" with all the rows in which the "country" column is equal to "United States".
1. Use list comprehension to create a boolean list "is_NorthAmerica". This list will be the same length as df, and will be True for all indexes where "country" is equal to "United States", "Mexico", or "Canada", and False otherwise.
1. Use "is_NorthAmerica" to create a DataFrame called "df_NorthAmerica" with all the rows in which "country" is equal to "United States", "Mexico", or "Canada".
1. Reset the index of df_NorthAmerica using the command ``df_NorthAmerica.index = df_NorthAmerica['year']``. Now create a DataFrame called "df_NorthAmerica_1900s" that spans the years 1900 - 1999 (hint: still "loc", but not with a logical index).
1. Create "df_NorthAmerica_last100", which contains the last 100 elements (these will all be United States) (hint: "iloc").
1. Something is weird with the "co2_per_capita" data. Let's create our own for the "df_NorthAmerica" DataFrame, and also convert from millions of tons per person to tons per person. Create a new column called "co2_per_capita_tons", which is equal to the "co2" column divided by the "population" column and multiplied by 1,000,000.
1. Once you have done the above, uncomment and run the plotting cell below and you will see how historical per capita emissions vary across the three countries.

In [3]:
### plot historical historical emissions per capita
# import matplotlib.pyplot as plt
# import seaborn as sns
# sns.scatterplot(df_NorthAmerica['year'], df_NorthAmerica['co2_per_capita_tons'], hue=df_NorthAmerica['country'])
# lab = plt.xlabel('Year')
# lab = plt.ylabel('Tons of CO2 per capita')

### 5) 
How is the class going for you so far? Are you following along ok, or are you feeling a bit lost? Is there anything you would like to see a refresher on? Is there anything I should do differently with my teaching?